<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% include 'global/partials/_head.html' %}
</head>
<body>
    <div class="blog-wrapper">
        {% if site_setup.show_header %}
            {% include 'global/partials/_header.html' %}
            {% block additional_head %}{% endblock additional_head %}
        {% endif %}

        {% block content %}{% endblock content %}

        {% if site_setup.show_pagination %}
            {% include 'global/partials/_pagination.html' %}
        {% endif %}

        {% if site_setup.show_footer %}
            {% include 'global/partials/_footer.html' %}
        {% endif %}
    </div>
</body>
</html>